<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>North Springs Thunderbirds</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
  <script defer src="{{ url_for('static', filename='script.js') }}"></script>
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='logo.png') }}">
</head>
<body>
  <div class="topnav" id="myTopnav">
    <div class="top-row">
      <a href="{{ url_for('welcome') }}" class="active"><img src = "{{ url_for('static', filename='logo.png') }}" class = "crestbird"></a></a>
      <a class="icon" onclick="toggleMenu()">☰</a>
    </div>
    <div class="menu-links">
      <a href="#news">News</a>
      <a href="#contact">Contact</a>
      <a href="{{ url_for('about') }}">About</a>
      <a href="{{ url_for('roster') }}">Record Sheet</a>
    </div>
    <div class="welcome-text">
      <h1 style="font-size: xx-large;">North Springs Thunderbirds FC</h1>
      <p>Welcome to the official website of The North Springs Thunderbirds FC. We are a football club based in Sandy Springs, GA. Feel free to explore the website, or contact coach Raul for more information!</h3>
    </div>
  </div>
</body>
</html>
