<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>North Springs Thunderbirds</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
  <script defer src="{{ url_for('static', filename='script.js') }}"></script>
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='logo.png') }}">
</head>
<body>
    <div class="topnav" id="myTopnav">
    <div class="top-row">
      <a href="{{ url_for('welcome') }}" class="active"><img src = "{{ url_for('static', filename='logo.png') }}" class = "crestbird"></a>
      <a class="icon" onclick="toggleMenu()">☰</a>
    </div>
    <div class="menu-links">
      <a href="#news">News</a>
      <a href="#contact">Contact</a>
      <a href="#about">About</a>
      <a href="{{ url_for('roster') }}">Record Sheet</a>
    </div>
</div>
<div class="iframe-container">
    <iframe
        src="https://docs.google.com/spreadsheets/d/16qt3Q4HojG97-YKNIo7UIsVpOshItsIKlVrblxf6-MU/edit?pli=1&gid=0#gid=0">
    </iframe>
</div>

</body>
</html>